table, th, td  {
    border: 1px solid black;
  }
  tr:hover {
    color:rgb(139, 80, 80);
  }
  tr:nth-child(even){
    background-color: #D6EEEE;
  }
  .price{
    margin-left: 50px;
    color: red;
}
 .product{
    margin-left: 50px;
    color: red;
}
h1 {
color: white;
}
h2 {
  color: blue;
}
p {
  text-align: center;
color: black;
}
img {
  width: 80vh;
  height: 50vh;
}
  th,caption {
    text-align: left;
  }
  
  table,th,td {
    border: 1px solid #000;
    border-collapse: collapse;
  }
  th,td {
    padding: 10px;
  }
  #continue {
    text-align: center;
    color: black;
  }
  .h1 {
    color: white;
    }
    .h2 {
      color: blue;
    }
  p.large {
    font-size: 300%;
  }
    .centre {
      text-align: center;
      color: black;
    }
    p.centre{
      text-align: center;
      color: black;
    }
      box-sizing:border-box
    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
     background: linear-gradient(rgb(47,150,163),rgb(48,62,143))
     font-family sans-serif;
     color:white ;
    }
    .location, 
    .temperature{
      height: 30vh;
      width: 50%;
      display: flex;
      justify-content: space-around;
    }
    .temperature{
      flex-direction: column;
    }
    .degree-section{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .degree-section span{
    margin: 10px;
    font-size: 30px; 
    }
    .degree-section h2{
     font-size: 50px; 
    }
    * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
    }
    .slider{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: burlywood;
      z-index: -1;
    }
    nav {
      display: grid;
      grid-template-columns: 10% 1fr 1fr 10%;
      min-height: 10vh;
      color: white;
      align-items: center;
    }
    #logo{
      grid-column: 2/3;
      font-size: 24px;
      top: 100%;
      left: 0%;
    }
    section{
      display: flex;
      height: 20vh;
      justify-content: center;
      align-content: center;
     
    }

    .hero{
      width: 100px;
      height: 60px;
    }

    .img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .headline{
      position: absolute;
      top: 70%;
      left: 0%;
      font-size: 300%;
      transform: translate(-20% -70%);
      
    }
    .hero::after{
      background-color: black;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0%;
      top: 0%;
      opacity: 0.3;
    }
  


